.logo {
    width: 30%;
    margin: auto;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0rem 0 2rem 0;
}

button {
    background-color: #FB6C6F;
    padding: 0.2rem 0.8rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
}