.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.todo {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    margin: auto;
    padding: 2rem;
}

.dados {
    width: 100%;
    border: 1px solid #CCCCCC;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 50px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

section button {
    background-color: #FB6C6F;
    padding: 0.2rem 0.8rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
}

section button:hover {
    filter: brightness(0.90);
    transition: 0.4s;
}

section input {
    background-color: rgb(244, 243, 243);
    border-radius: 15px;
    border: none;
}

select {
    border-color: #CCCCCC;
    width: 100%;
}

table {
    font-size: 1.7rem;
}

.button {
    text-align: center;
}