.avaria-dados {
    width: 100%;
    display: flex;
    column-gap: 50px;
    align-items: center;
    margin-bottom: 3rem;
}

.title {
    font-weight: bold;
    margin-right: 5px;
}

.empresa {
    width: 120px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    border-radius: 0;
}

.empresa:focus, input:focus, button:focus {
    outline: none;
}
